
/* 
 *	Name: Responsive layout;
 *	Author: Andor Nagy;
 *	Website : andornagy.com;
 *	
------------------------------------------
 * 
 *	Responsive Layout is lightweight css and html layout 
 *	that can help you kickstart your website development.
 *
 *	You are free to use this framework for you own projects
 *	and for client works. Credit is always welcome.
 *
 *	DO NOT sell it as your own work.
 *  
--------------------------------------------- */

.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #fff;
	font-weight: bold;
}

.tabs li {
	cursor: pointer;
}

.tabs li:hover {
	color:#f90;
	}

.tabs li.current{
	color: #f90;
}

.tab-content{
	display: none;
	background: #fff;
	padding: 15px;
	line-height:1.4;
}

.tab-content.current{
	display: inherit;
}

/* General Styles
--------------------------------------------- */

body {
	margin: 0px;
	padding: 0;
	font-size:18px;
	line-height: 32px;
	color: #333;
	word-wrap:break-word !important;
	font-family: Arial, sans-serif;
}


/* Helper Classes
--------------------------------------------- */

.clearfix {
	display: block;
	clear: both;
}


/* Typography
--------------------------------------------- */

p {
	margin: 0 0 4px;
	padding: 0;
}

li p {
	margin: 0 0 4px;
	padding: 0 0 0 5px;
	font-size: 14px;
	font-style: italic;
}


/* Links
--------------------------------------------- */

a {
	text-decoration: none;
	color: #FF5722
}

a:hover {
	text-decoration: none; 
	color: #f90;
}



/* Headings
--------------------------------------------- */

h1,
h2,
h3 {
	color: #333;
	font-family: Arial, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

/* Sections
--------------------------------------------- */

#container{
	margin: 0 auto;
	max-width: 1200px;
}



/* Header
--------------------------------------------- */

header {
	width: 94%;
	padding: 3%;
	background-color: #3939AE;
	color: #fff;
}

header #title {
	font-size: 50px;
	color: #fff;
}

#header enlight {
	font-size: 20px;
	color: #f90;
	font-weight: bold;
}

#header strong{
	font-size: 20px;
	color: #fff;
}

/* Navigation
--------------------------------------------- */

nav {
	width: 97%;
	background-color: #393966;
	padding: 0 1.5% 0 1.5%;
}

nav ul li {
	display: inline-block;
	padding: 15px 1.5% 15px 1.5% ;
}

nav a {
	color: #fff;
}

/* Content
--------------------------------------------- */

#content {
	float: left;
	padding: 3%;
	width: 68%;
}



/* Sidebar
--------------------------------------------- */

aside {
	float: right;
	padding: 3%;
	width: 20%;
	background-color: #eee;
	text-align: center;
}



/* Footer
--------------------------------------------- */

footer{
	width: 94%;
	padding: 3%;
	background-color: #3939AE;
	border-top: 3px solid #f90;
	color: #fff;
	text-align: center;
}



/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	header {
		text-align: center;
	}

	nav {
		text-align: center;
	}

	#content {
		width: 94%;
		padding: 3%;	
	}

	#sidebar {
		width: 94%;
		padding: 3%;
		border-top: 3px solid #f90;
	}

}
/*
@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}*/